script(type="text/ng-template",id="deleteAll")
  .modal-header
    h3.modal-title Are you sure?
  .modal-body Deleting all projects will clear from your local browser storage all data associated with them.
  .modal-footer
    button.btn.btn-success(ng-click="$dismiss()") No
    button.btn.btn-danger(ng-click="$close()") Yes
.container
  h3 Projects:
  .row(ng-repeat="project in projects")
    .col-xs-2: ul: li: a(ui-sref="project({projectId:project.name})") {{project.name}}
    .col-xs-4: uib-progress(style="margin-bottom:0px")
        uib-bar(type="success",value="100 * project.counts.match / project.total") {{project.counts.match}}
        uib-bar(type="warning",value="100 * project.counts.nomatch / project.total") {{project.counts.nomatch}}
        | &nbsp;{{project.total - project.counts.match - project.counts.nomatch}}
  .row: .col-xs-12: ul: li: form.form-inline(ng-submit="newProject(newProjectId)")
      input.form-control(type="text",ng-model="newProjectId")
  .row: .col-xs-12: button.btn.btn-danger(ng-click="maybeDeleteAll()") Delete all projects
  
