script(type="text/ng-template",id="selectSheet")
  .modal-header
    h3.modal-title Preview
  .modal-body
    uib-tabset
      uib-tab(ng-repeat="sheet in sheets",heading="{{sheet.name}}",deselect="sheet.active=false",select="sheet.active=true")
        div(ng-show="error")
          h4 {{error.status}}
            button.pull-right.btn.btn-xs.btn-danger(ng-click="$parent.error='';queryRunning=false") X
          .clearfix
          pre.pre-scrollable {{error.data}}
          pre(ng-show="error.config").pre-scrollable {{error.config}}
        div(style="overflow:scroll;max-height:500px"): table.table.table-bordered.table-striped
          tr
            th(ng-if="firstRowIsHeader",ng-repeat="header in sheet.data[0] track by $index") {{header}}
            th(ng-if="!firstRowIsHeader",ng-repeat="header in sheet.data[0] track by $index") Column {{$index}}
          tr(ng-repeat="row in sheet.data | limitTo:10:(skipRows+(firstRowIsHeader ? 1 : 0)) track by $index"): td(ng-repeat="column in row track by $index") {{column}}
  .modal-footer
    .checkbox
      label
        input(type="checkbox",ng-model="$parent.firstRowIsHeader")
        | Use first row as header
    input(type="number",ng-model="$parent.skipRows",placeholder="skip rows")
    button.btn.btn-success(ng-click="$close();loadSheet()") Load
script(type="text/ng-template",id="popover")
  table.table.table-condensed.table-bordered.table-striped
    tr(ng-repeat="descr in candidate.additionalDescription track by $index")
      th {{state.additionalDescriptionHeadings[$index]}}
      td(ng-bind-html="descr | trustAsHtml")
script(type="text/ng-template",id="loadSPARQL")
  .modal-header
    h3.modal-title Load from a SPARQL endpoint
  .modal-body
    .form-group(ng-class="sparqlEndpointOK ? 'has-success' : 'has-error'")
      label SPARQL endpoint
      input.form-control(type="text",ng-model="state.sparqlEndpoint")
    .form-group
      label Load query
      yasqe(data="state.loadQuery")
      yasr
  .modal-footer
    button.btn.btn-success(ng-click="$close();loadSPARQL()") Ok
.container-fluid(style="max-width:97%")
  .row
    div(ng-class="reviewing ? 'col-xs-12' : 'col-xs-3'")
      table.table.table-bordered.table-striped
        tr(ng-if="reviewing")
          th Name
          th(ng-repeat="header in state.headings track by $index") {{header}}
          th Match
          th Notes
          th(ng-repeat="header in state.descriptionHeadings track by $index") {{header}}
        tr(ng-repeat="row in state.data | limitTo : config.pageSize : state.currentOffset")
          td(ng-class="state.reconData[state.currentOffset + $index].matches ? 'success' : (state.reconData[state.currentOffset + $index].matches === null ? 'warning' : 'danger')")
            input.form-control(tooltip-placement="bottom",uib-tooltip="{{state.reconData[state.currentOffset + $index].matches[0].id ? state.reconData[state.currentOffset + $index].matches[0].label + ' (' + state.reconData[state.currentOffset + $index].matches[0].id + ')' + (state.reconData[state.currentOffset + $index].matches.length>1 ? ' + ' + (state.reconData[state.currentOffset + $index].matches.length-1) + ' other(s)' : '') : ''}}",select-on-focus,focus-on="row{{state.currentOffset + $index}}",type="text",ng-init="input=row[0]",ng-model="input",ng-model-options="{debounce: 300}",ng-focus="focus(state.currentOffset + $index,input)",ng-change="search(state.currentOffset + $index,input)")
            span(ng-if="reviewing",style="visibility:hidden;white-space:nowrap") {{row[0]}}
          td(ng-if="reviewing",ng-repeat="value in row | limitTo:100:1 track by $index ") {{value}}
          td(ng-if="reviewing",ng-class="state.reconData[state.currentOffset + $index].matches ? 'info' : (state.reconData[state.currentOffset + $index].matches === null ? 'warning' : 'danger')") {{state.reconData[state.currentOffset + $index].matches[0].id ? state.reconData[state.currentOffset + $index].matches[0].label + ' (' + state.reconData[state.currentOffset + $index].matches[0].id + ')' + (state.reconData[state.currentOffset + $index].matches.length>1 ? ' + ' + (state.reconData[state.currentOffset + $index].matches.length-1) + ' other(s)' : '') : ( state.reconData[state.currentOffset + $index].matches === null ? 'none' : 'not processed')}}
          td(ng-if="reviewing",style="white-space: pre-line") {{state.reconData[state.currentOffset + $index].notes}}
          td.info(ng-if="reviewing",ng-repeat="descr in state.reconData[state.currentOffset + $index].matches[0].description track by $index",ng-bind-html="descr | trustAsHtml")
      ul.pagination-sm(uib-pagination ng-model="currentPage",items-per-page="config.pageSize",max-size="4",total-items="state.data.length",boundary-links="true",previous-text="‹",next-text="›",first-text="«",last-text="»")
      uib-progress
        uib-bar(type="success",value="100 * state.counts.match / state.data.length") {{state.counts.match}}
        uib-bar(type="warning",value="100 * state.counts.nomatch / state.data.length") {{state.counts.nomatch}}
        | &nbsp;{{state.data.length - state.counts.match - state.counts.nomatch}}
      .clearfix
        button.btn.btn-success(ng-click="reviewing=!reviewing") Review
        button.btn.btn-success(ng-click="sort()") Sort
        button.btn.btn-success(ngf-select,ngf-change="loadFile($files[0])",ngf-multiple="false") Load File
        button.btn.btn-success(ng-click="openSPARQL()") Load SPARQL
        button.btn.btn-warning(ng-click="saveCSVFile()",ng-show="state.data.length>0") Export CSV
        button.btn.btn-default(ui-sref="configure({projectId:projectId})") Configure
        button.btn.btn-default(ui-sref="projectlist") Back to project list
    .col-xs-9(style="max-height:95vh;overflow-y:auto",ng-if="!reviewing")
      i.fa.fa-spinner.fa-spin(ng-show="queryRunning && !error")
      div(ng-show="error")
        h4 {{error.status}}
          button.pull-right.btn.btn-xs.btn-danger(ng-click="$parent.error='';queryRunning=false") X
        .clearfix
        pre.pre-scrollable {{error.data}}
        pre(ng-show="error.config").pre-scrollable {{error.config}}
      table.table.table-bordered.table-striped
        tr.header: th(ng-repeat="header in state.headings track by $index") {{header.split("_").join(" ")}}
        tr: td(ng-repeat="value in state.data[state.currentRow] track by $index") {{value}}
      .form-group
        label Notes
        textarea.form-control(ng-model="state.reconData[state.currentRow].notes")
      button.btn.btn-block.btn-warning(ng-show="!state.reconData[state.currentRow].candidates") ?
      table.table.table-bordered.table-striped
        tr.header
          th
          th Match
          th(ng-repeat="header in state.descriptionHeadings track by $index") {{header.split("_").join(" ")}}
        tr(ng-class="state.reconData[state.currentRow].matches === null ? 'info' : 'warning'")
          th 0
          th(ng-click="deselect()",style="cursor:pointer") None of the below
          td(ng-repeat="descr in state.reconData[state.currentRow].candidates[0].description track by $index")
        tr(ng-repeat="candidate in state.reconData[state.currentRow].candidates | limitTo : 29",ng-style="{'background-color':candidate.color}",ng-class="state.reconData[state.currentRow].matches && isIdInObjectArray(candidate.id, state.reconData[state.currentRow].matches) ? 'info' : ''",popover-enable="candidate.additionalDescription.length!=0",popover-trigger="'mouseenter'",uib-popover-template="'popover'")
          th(ng-if="$index<9",ng-click="select($index)",style="cursor:pointer") {{$index+1}}
          th(ng-if="$index>=9",ng-click="select($index)",style="cursor:pointer") -
          th(ng-click="select($index,$event)",style="cursor:pointer") {{candidate.label}}
          td(ng-repeat="descr in candidate.description track by $index",ng-bind-html="descr | trustAsHtml")
      button.btn.btn-block.btn-danger(ng-show="state.reconData[state.currentRow].candidates.length==30") ...
    .row
      .col-xs-12
