.container
  .form-group(ng-class="sparqlEndpointOK ? 'has-success' : 'has-error'")
    label SPARQL endpoint
    input.form-control(type="text",ng-model="config.sparqlEndpoint")
  .form-group
    label Match and short description query
    yasqe(data="config.matchQuery")
  .form-group
    label Long description query
    yasqe(data="config.longDescriptionQuery")
  .form-group
    label Entries per page
    input.form-control(type="number",ng-model="config.pageSize")
  button.btn.btn-success(ui-sref="home") Home
