.row
  .col-xs-2
    div Marc Jacobs
    div Marc Jacobs
    div Marc Jacobs
    div Marc Jacobs
    div Marc Jacobs
    div Marc Jacobs
    div Marc Jacobs
  .col-xs-10
    div Marc Jacobs
    div Marc Jacobs
    div Marc Jacobs
