script(type="text/ng-template",id="loadSPARQL")
  .modal-header
    h3.modal-title Load from a SPARQL endpoint
  .modal-body
    .form-group(ng-class="sparqlEndpointOK ? 'has-success' : 'has-error'")
      label SPARQL endpoint
      input.form-control(type="text",ng-model="state.sparqlEndpoint")
    .form-group
      label Load query
      yasqe(data="state.loadQuery")
      yasr
  .modal-footer
    button.btn.btn-success(ng-click="$close();loadSPARQL()") Ok
.container-fluid(style="max-width:97%")
  .row
    div(ng-class="reviewing ? 'col-xs-12' : 'col-xs-3'")
      table.table.table-bordered.table-striped
        tr(ng-repeat="row in state.data | limitTo : config.pageSize : state.currentOffset")
          td(ng-class="state.reconData[state.currentOffset + $index].match ? 'has-success' : (state.reconData[state.currentOffset + $index].match === null ? 'has-warning' : 'has-error')")
            input.form-control(tooltip-placement="right",uib-tooltip="{{state.reconData[state.currentOffset + $index].match.id ? state.reconData[state.currentOffset + $index].match.label + ' (' + state.reconData[state.currentOffset + $index].match.id + ')' : ''}}",select-on-focus,focus-on="row{{state.currentOffset + $index}}",type="text",ng-init="input=row[0]",ng-model="input",ng-model-options="{debounce: 300}",ng-focus="focus(state.currentOffset + $index,input)",ng-change="search(state.currentOffset + $index,input)")
          td(ng-if="reviewing") {{state.reconData[state.currentOffset + $index].match.id ? state.reconData[state.currentOffset + $index].match.label + ' (' + state.reconData[state.currentOffset + $index].match.id + ')' : ( state.reconData[state.currentOffset + $index].match === null ? 'none' : 'not processed')}}
          td(ng-if="reviewing",ng-repeat="value in row | limitTo:100:1 track by $index ") {{value}}
      uib-pagination.pagination-sm(ng-model="currentPage",items-per-page="config.pageSize",max-size="4",total-items="state.data.length",boundary-links="true",previous-text="‹",next-text="›",first-text="«",last-text="»")
      uib-progress
        uib-bar(type="success",value="100 * state.counts.match / state.data.length") {{state.counts.match}}
        uib-bar(type="warning",value="100 * state.counts.nomatch / state.data.length") {{state.counts.nomatch}}
        | &nbsp;{{state.data.length - state.counts.match - state.counts.nomatch}}
      .clearfix
        button.btn.btn-success(ng-click="reviewing=true") Review
        button.btn.btn-success(ngf-select,ngf-change="loadCSVFile($files[0])",ngf-multiple="false") Load CSV
        button.btn.btn-success(ng-click="openSPARQL()") Load SPARQL
        button.btn.btn-warning(ng-click="saveCSVFile()",ng-show="state.data.length>0") Export CSV
        button.btn.btn-default(ui-sref="configure({projectId:projectId})") Configure
    .col-xs-9(style="max-height:95vh;overflow-y:auto",ng-if="!reviewing")
      i.fa.fa-spinner.fa-spin(ng-show="queryRunning && !error")
      div(ng-show="error")
        h4 {{error.status}}
          button.pull-right.btn.btn-xs.btn-danger(ng-click="error='';queryRunning=false") X
        .clearfix
        pre.pre-scrollable {{error.data}}
        pre.pre-scrollable {{error.config}}
      table.table.table-bordered.table-striped
        tr
          td(ng-repeat="value in state.data[state.currentRow] track by $index") {{value}}
      button.btn.btn-block.btn-warning(ng-show="!state.reconData[state.currentRow].candidates") ?
      table.table.table-bordered.table-striped
        tr(ng-class="state.reconData[state.currentRow].match === null ? 'info' : 'warning'")
          th 0
          th(ng-click="deselect()",style="cursor:pointer") None of the below
          td(ng-repeat="descr in state.reconData[state.currentRow].candidates[0].description track by $index")
        tr(ng-repeat="candidate in state.reconData[state.currentRow].candidates | limitTo : 29",ng-style="{'background-color':candidate.color}",ng-class="candidate.id==state.reconData[state.currentRow].match.id ? 'info' : ''")
          th(ng-if="$index<9",ng-click="select($index)",style="cursor:pointer") {{$index+1}}
          th(ng-if="$index>=9",ng-click="select($index)",style="cursor:pointer") -
          th(ng-click="select($index)",style="cursor:pointer") {{candidate.label}}
          td(ng-repeat="descr in candidate.description track by $index",ng-bind-html="$sce.trustAsHtml(descr)")
      button.btn.btn-block.btn-danger(ng-show="state.reconData[state.currentRow].candidates.length==30") ...
    .row
      .col-xs-12
