doctype html
html(lang="en",ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    // build:css(app) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/yasgui-yasqe/dist/yasqe.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/angular-hotkeys/build/hotkeys.css')
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel="stylesheet" href="styles/main.css")
    // endbuild

    title recon
  body
    .modal(ng-class="authInfo.authOpen ? 'modal-open fade in' : ''",ng-style="authInfo.authOpen ? {display:'block'} : {}"): .modal-dialog(ng-show="authInfo.authOpen"): form.modal-content
      .modal-header: h4.modal-title Authentication required
      .modal-body
        .form-group
          label Username:
          input.form-control(type='text', ng-model="authInfo.username")
        .form-group
          label Password:
          input.form-control(type='password', ng-model="authInfo.password")
      .modal-footer
          button.btn.btn-success(ng-click="setAuth()") Ok
          button.btn.btn-danger(ng-click="dismissAuth()") Cancel
    main(ui-view="")
    // build:js(app) scripts/vendor.js
    // bower:js
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/ngstorage/ngStorage.js')
    script(src='bower_components/angular-http-auth/src/http-auth-interceptor.js')
    script(src='bower_components/yasgui-yasqe/dist/yasqe.bundled.js')
    script(src='bower_components/papa.parse/papaparse.js')
    script(src='bower_components/ng-file-upload/ng-file-upload.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/angular-hotkeys/build/hotkeys.js')
    script(src='bower_components/ng-focus-on/ng-focus-on.js')
    script(src='bower_components/FileSaver/FileSaver.js')
    script(src='bower_components/angular-sparql-service/dist/sparql-service.js')
    script(src='bower_components/angular-yasqe-directive/dist/yasqe-directive.js')
    script(src='bower_components/angular-utf8-base64/angular-utf8-base64.js')
    // endbower
    // endbuild

    // build:js(.tmp) scripts/main.js
    script(src="scripts/app.js")
    script(src="scripts/project-ctrl.js")
    script(src="scripts/projectlist-ctrl.js")
    script(src="scripts/config-ctrl.js")
    // inject:partials
    // endinject
    // endbuild
    .modal-backdrop.fade.in(ng-show="authInfo.authOpen")
